name: snekky

on: [push]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.0
      - name: Install dependencies
        run: |
          haxelib install console.hx
          haxelib install hxcpp
          haxelib install hxargs
      - name: Build
        run: haxe build.hxml
      - name: Rename artifact
        run: mv cpp/Snekky cpp/snekky
      - name: Strip artifact symbols
        run: strip cpp/snekky
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: snekky-linux
          path: cpp/snekky
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.0
      - name: Install dependencies
        run: |
          haxelib install console.hx
          haxelib install hxcpp
          haxelib install hxargs
      - name: Build
        run: haxe build.hxml
      - name: Rename artifact
        run: | 
          cd cpp
          ren Snekky.exe snekky.exe
          cd ..
      - name: Strip artifact symbols
        run: strip cpp/snekky.exe
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: snekky-win
          path: cpp/snekky.exe
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.0
      - name: Install dependencies
        run: |
          haxelib install console.hx
          haxelib install hxcpp
          haxelib install hxargs
      - name: Build
        run: haxe build.hxml
      - name: Rename artifact
        run: mv cpp/snekky cpp/snekky
      - name: Strip artifact symbols
        run: strip cpp/snekky
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: snekky-macos
          path: cpp/snekky
  javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.0
      - name: Install dependencies
        run: |
          haxelib install console.hx
          haxelib install hxcpp
          haxelib install hxargs
      - name: Build
        run: haxe build-js.hxml
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: snekky-js
          path: js/snekky.js